@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

body{
	font-size: 2rem;
	font-family: 'Roboto', sans-serif;
}

input{
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}

textarea{
	font-size: 1.5rem;
	margin-bottom: 4rem;
}

.big-fieldset{
	width: 50%;
}